---
import BaseLayout from '../layouts/BaseLayout.astro';

const title = 'About';
const description = 'About your blog.';
const permalink = `${Astro.site?.href}about`;
---

<BaseLayout title={title} description={description} permalink={permalink} current="about">
  <div class="container">
    <h1>About</h1>
    <figure class="about-image">
      <img src="/assets/about-illustration.webp" alt="Illustration of a notebook" width="330">
      <figcaption>
        Illustration by
        <a href="https://icons8.com/illustrations/author/5c07e68d82bcbc0092519bb6" target="_blank" rel="noopener">Icons 8</a>
        from
        <a href="https://icons8.com/illustrations" target="_blank" rel="noopener">Ouch!</a>
      </figcaption>
    </figure>
    <p>
      I am a Software Engineer primarily focussed on backend web-services and API design.
      I recently graduated from Worcester Polytechnic Institute
      with a Bachelor's in computer science. Computer science has been my passion
      since I created my first website during a free period in the 6th
      grade. Since then I have continued to self-study various languages
      and frameworks and have finally entered into a formal computer
      science education.
    </p>

    <p>
      I have taken a particular interest in backend development, API, and microservice design. In my time working as a
      professional Software Engineer I have grown to understand and appreciate the flexibility and scalability that
      microservice architectures allow for. Most of my professional work has been done in Typescript/Javascript although
      I do have significant experience in Java as well and some intermediate experience in C#. I am always reading up on
      the newest developments in our field and am always learning, doing my best to become a better developer.
    </p>

    <p>
      Personally, I grew up outside of Boston, MA, and thus I am a big Boston sports fan. I have a particular affinity
      for baseball and like to combine that with my development skills whenever I can.
    </p>
  </div>
</BaseLayout>

<style>
  .about-image {
    float: right;
    margin: -3em -7em 2em 2em;
    max-width: 300px;
  }

  .about-image img {
    border-radius: 8px;
    margin-bottom: 1.5em;
  }

  @media (max-width: 1020px) {
    .about-image {
      float: none;
      margin: 0 auto 2em;
    }
  }
</style>
