.about-panel {
  background-color: $mainBlue;


  .about-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 2em 4em;
    color: $white;
    height: 100%;

    @include breakpoint-up("xlarge") {
      display: grid;

      grid-template-columns: 45% 55%;
      grid-template-rows: 15% 65% 20%;

      align-items: center;
      justify-content: center;
    }

    .about-title {
      font-weight: bold;
      @include breakpoint-up("xlarge"){
          font-size: 5em;
      }
    }

    .about-image {
      display: none;

      border-radius: 10px;

      @include breakpoint-up("xlarge") {
        display: block;
        grid-column: 3;
        grid-row-start: 1;
        grid-row-end: 4;
        max-height: 100vh;
        align-self: normal;
        justify-self: right;
      }
    }

    .about-image-circle {
      margin: 2em 0;
      display: block;
      max-height: 10rem;
      clip-path: circle();

      @include breakpoint-up("xlarge") {
        display: none;
      }
    }
    .about-text {
      p {
        margin-bottom: 1.5em;
        font-size: 1em;
        line-height: 128%;
        font-weight: regular;

        @include breakpoint-up("xlarge"){
            font-size: 1.25em;
        }
      }

      @include breakpoint-up("xlarge"){
            grid-column: 1;
      }
    }

    .about-download {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      .btn-content {
        margin: 0.5em 0;
        * {
          margin: 0 0.25em;
        }
      }

    }

    .resumeBtn{
      @include breakpoint-up("xlarge"){
        grid-column: 1;
      }
    }
  }
}
