.footer-panel {
  background-color: $mainBlue;

  .footer-content {
    padding: 1em 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    @include breakpoint-up("xlarge"){
      padding: 1em $bigGutter;
    }

    .footer-links {
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      .link {
        color: $white;
        font-size: 0.75em;
        font-weight: 400;
        @include breakpoint-up("xlarge"){
          font-weight: 600;
        }
      }
    }
    .footer-socials {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      @include breakpoint-up("xlarge"){
        flex-direction: row;
      }

      .social-link {
          overflow: hidden;
          margin: 0em 1em;
          *{
              width: 3em;
              height: 3em;
              fill: white;
          }
        
      }
    }
  }
}
