html {
  font-size: 100%;
  box-sizing: border-box;
}
  
* {
  margin: 0;
  padding: 0;
  box-sizing:inherit;
  overflow-x: hidden;
}

p{
  overflow-y: hidden;
}

body {
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
  color: black;
}

.container{
  width:100%;
}

.panel{
    width:100%
}

.btn{
  background-color: $mainBlue;
  color:white;
  border-radius: 49px;
  display:inline-block;

  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);


  .btn-content{
    padding: 0 .5em;
    display:flex;
    font-size: 1.4375em;
    font-weight: bold;
    align-items: center;
    justify-content: space-between;
  }
}

.btn-inverted{
  color: $mainBlue;
  background-color: $white;
}