.hero-panel {
  background-image: url(../images/webb.png);

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1em $gutter;

    .title {
      font-family: "Lobster";
      color: $mainBlue;

      @include breakpoint-up("xlarge") {
        font-size: 4em;
      }
    }
    nav {
      display: none;
      @include breakpoint-up("xlarge"){
        display: block;
        width: 25%;

      }
      ul {
        display: flex;
        justify-content: space-between;
        list-style: none;
        font-size: 1.5em;
        font-weight: 600;
        align-items: center;

        .btn a{
          color: $mainBlue;
        }
        

      }
    }

    @include breakpoint-up("xlarge") {
      padding: 1em $bigGutter;
    }
  }

  .hero {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 2em $gutter;

    @include breakpoint-up("xlarge") {
      flex-direction: row;
      justify-content: space-between;
      padding: 0 $bigGutter;
      height: 100vh;
    }

    .hero-content {
      margin: 2.5em 0;
      h1.hero-text {
        font-size: 2em;
        line-height: 115%;
        @include breakpoint-up("xlarge") {
          font-size: 4em;
          overflow: hidden;
        }
      }
      h3.hero-subtext {
        color: $gray;
        font-weight: 400;
        margin: 0.25em 0 1em 0;

        @include breakpoint-up("xlarge") {
          font-size: 3em;
          line-height: 115%;
          overflow-y: hidden;
        }
      }

      .btn {
        display: inline-table;
        .btn-content {
          svg {
            width: 1.4375em;
          }

          @include breakpoint-up("xlarge"){
              font-size: 2.5em;
          }
        }
      }

      display: flex;
      flex-direction: column;

      @include breakpoint-up("xlarge") {
        width: 50%;
      }
    }
    .hero-illustration {
      margin: 2.5em 1em;
      width: 75%;

      @include breakpoint-up("xlarge") {
        width: 50%;
      }
    }
  }
}

