.work-panel {
  background-image: url(../images/webb.png);
}
.work-content {
  padding: 2em 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  @include breakpoint-up("xlarge") {
    padding: 2em $bigGutter;
    align-items: flex-start;
  }

  .work-title {
    color: $mainBlue;

    @include breakpoint-up("xlarge") {
      font-size: 4.5em;
    }
  }

  .project-container {
    margin: 1.5em 0;
    width: 100%;
    .project {
      background-color: $white;
      border-radius: 50px;
      box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding: 0.5em;
      margin:0.5em;
      border: 5px rgba(14, 106, 244, 0.5) solid;

      @include breakpoint-up("xlarge") {
        flex-direction: row;
      }

      * {
        margin: 0.25em 0;
      }

      .project-title {
        font-size: 1.5em;
        font-weight: 500;

        @include breakpoint-up("xlarge"){
          padding: 1em;
          font-weight: 600;
        }

      }

      .flex-span{
        flex:2;
      }

      .project-buttons {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        @include breakpoint-up("xlarge") {
          flex-direction: row;
          width: 40%;
          padding: 0 1em;
        }

        .btn {
          width: 100%;

          @include breakpoint-up("xlarge") {
            width: 45%;
          }
        }
        .btn-content {
          font-weight: 600;
          font-size: 1em;
          padding: 0.5em 2em;
          display: block;
          text-align: center;

          @include breakpoint-up("xlarge") {
            font-size: 1.6em;
            padding: 0 1em;
          }
        }
      }
    }
  }
}
