.sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #f1f1f1;
  border-radius: 18px;
  width: 17.5%;
  padding: 0vw 2vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-negative: 2;
      flex-shrink: 2;
}

.sidebar div {
  margin: auto;
  text-align: center;
}

.sidebar img {
  max-width: 100%;
}

.body {
  font-family: "Rubik";
  background: #f1f1f1;
  border-radius: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 3rem;
  width: 80%;
}

.body-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2.5rem;
  align-items: center;
}

.body-content {
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.body-content h3 {
  font-size: 5rem;
  margin-bottom: 10px;
  text-decoration: underline;
}

.body-content ul {
  list-style: none;
}

.body-content li {
  font-size: 4rem;
}

.scores li {
  margin: 15px 0;
}

.body-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.statistics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.statistics li {
  margin: 10px 0;
}

.awards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content {
  width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 80vh;
}

@media screen and (max-width: 1200px) {
  .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .content .sidebar {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    padding: 2rem 0rem;
  }
  .content .sidebar h2 {
    font-size: 3rem;
  }
  .content .sidebar img {
    display: none;
  }
  .content .body {
    height: 90%;
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .sidebar {
    padding: 2rem 0rem;
  }
  .sidebar h2 {
    font-size: 2.5rem;
  }
  .body {
    overflow-y: scroll;
  }
  .body-header {
    display: none;
  }
  .body-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=education.css.map */