.sidebar {
  display: flex;
  background: #f1f1f1;
  border-radius: 18px;
  width: 17.5%;
  flex-direction: column;
  justify-content: space-around;
  flex-shrink: 2;

  div {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height:50%;
    width:100%;
    padding: 0vw 2vw;
  }

  .top-sidebar{
    border-radius: 18px 18px 0px 0px;
  }

  .bottom-sidebar{
    border-radius: 0px 0px 18px 18px ;
  }

  img {
    max-width: 100%;
  }

  .sidebar-selected{
    background-color: #E0E0E0;
  }
}
.body {
  font-family: "Rubik";
  background: #f1f1f1;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3rem;
  width: 80%;
}
.body-header {
  display: flex;
  align-items: center;

  font-size: 2.5rem;
  align-items: center;
}

.body-content {
    height: 90%;

  display: flex;
  justify-content: space-between;

  h3 {
    font-size: 5rem;
    margin-bottom: 10px;
    text-decoration: underline;
  }
  ul {
    list-style: none;
  }

  li {
    font-size: 4rem;
  }
}

.scores {
  li {
    margin: 15px 0;
  }
}

.body-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.statistics {
  display: flex;
  flex-direction: column;
  li {
    margin: 10px 0;
  }
}
.awards {
  display: flex;
  flex-direction: column;
}

.content {
    width:85%;
  display: flex;
  justify-content: space-between;
  height: 80vh;
}
.hide{
  display: none;
}

@media screen and (max-width: 1200px) {
  .content {
    flex-direction: column;
    justify-content: space-between;
    .sidebar {
      flex-direction: row;
      width: 100%;

      h2 {
        font-size: 3rem;
      }
      img {
        display: none;
      }
      div{
        height:100%;
        width:50%;
        padding: 2rem 0rem;
      }
      .top-sidebar{
        border-radius: 18px 0px 0px 18px;
      }
      .bottom-sidebar{
        border-radius: 0px 18px  18px 0px;
      }
    }
    .body {
      height: 90%;
      width: 100%;
    }
  }
}

@media screen and (max-width: 800px){
    .sidebar{
      margin:3vh 0vh;
        h2{
            font-size: 2.5rem;
        }
    }
    .body{
      overflow-y:scroll;
    }
    .body-header{
        display:none;
    }
    .body-content{
        flex-direction: column;
        flex-basis: 0;
    }
}