html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  overflow-x: hidden;
}

p {
  overflow-y: hidden;
}

body {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  width: 100%;
}

.panel {
  width: 100%;
}

.btn {
  background-color: #0E6AF4;
  color: white;
  border-radius: 49px;
  display: inline-block;
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
}

.btn .btn-content {
  padding: 0 .5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.4375em;
  font-weight: bold;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.btn-inverted {
  color: #0E6AF4;
  background-color: #FFFFFF;
}

.hero-panel {
  background-image: url(../images/webb.png);
}

.hero-panel .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em 1em;
}

.hero-panel .header .title {
  font-family: "Lobster";
  color: #0E6AF4;
}

@media (min-width: 90em) {
  .hero-panel .header .title {
    font-size: 4em;
  }
}

.hero-panel .header nav {
  display: none;
}

@media (min-width: 90em) {
  .hero-panel .header nav {
    display: block;
    width: 25%;
  }
}

.hero-panel .header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  font-size: 1.5em;
  font-weight: 600;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-panel .header nav ul .btn a {
  color: #0E6AF4;
}

@media (min-width: 90em) {
  .hero-panel .header {
    padding: 1em 12em;
  }
}

.hero-panel .hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 2em 1em;
}

@media (min-width: 90em) {
  .hero-panel .hero {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 12em;
    height: 100vh;
  }
}

.hero-panel .hero .hero-content {
  margin: 2.5em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero-panel .hero .hero-content h1.hero-text {
  font-size: 2em;
  line-height: 115%;
}

@media (min-width: 90em) {
  .hero-panel .hero .hero-content h1.hero-text {
    font-size: 4em;
    overflow: hidden;
  }
}

.hero-panel .hero .hero-content h3.hero-subtext {
  color: #787878;
  font-weight: 400;
  margin: 0.25em 0 1em 0;
}

@media (min-width: 90em) {
  .hero-panel .hero .hero-content h3.hero-subtext {
    font-size: 3em;
    line-height: 115%;
    overflow-y: hidden;
  }
}

.hero-panel .hero .hero-content .btn {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.hero-panel .hero .hero-content .btn .btn-content svg {
  width: 1.4375em;
}

@media (min-width: 90em) {
  .hero-panel .hero .hero-content .btn .btn-content {
    font-size: 2.5em;
  }
}

@media (min-width: 90em) {
  .hero-panel .hero .hero-content {
    width: 50%;
  }
}

.hero-panel .hero .hero-illustration {
  margin: 2.5em 1em;
  width: 75%;
}

@media (min-width: 90em) {
  .hero-panel .hero .hero-illustration {
    width: 50%;
  }
}

.about-panel {
  background-color: #0E6AF4;
}

@media (min-width: 90em) {
  .about-panel {
    height: 100vh;
  }
}

.about-panel .about-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2em 1em;
  color: #FFFFFF;
  height: 100%;
}

@media (min-width: 90em) {
  .about-panel .about-content {
    padding: 0em 0 0 12em;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 45% 55%;
        grid-template-columns: 45% 55%;
    -ms-grid-rows: 15% 65% 20%;
        grid-template-rows: 15% 65% 20%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.about-panel .about-content .about-title {
  font-weight: bold;
}

@media (min-width: 90em) {
  .about-panel .about-content .about-title {
    font-size: 5em;
  }
}

.about-panel .about-content .about-image {
  display: none;
}

@media (min-width: 90em) {
  .about-panel .about-content .about-image {
    display: block;
    -ms-grid-column: 3;
    grid-column: 3;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 2;
    max-height: 100vh;
    -ms-flex-item-align: normal;
        -ms-grid-row-align: normal;
        align-self: normal;
    -ms-grid-column-align: right;
        justify-self: right;
  }
}

.about-panel .about-content .about-image-circle {
  margin: 2em 0;
  display: block;
}

@media (min-width: 90em) {
  .about-panel .about-content .about-image-circle {
    display: none;
  }
}

.about-panel .about-content .about-text p {
  margin-bottom: 1.5em;
  font-size: 1em;
  line-height: 128%;
  font-weight: regular;
}

@media (min-width: 90em) {
  .about-panel .about-content .about-text p {
    font-size: 1.5em;
  }
}

@media (min-width: 90em) {
  .about-panel .about-content .about-text {
    -ms-grid-column: 1;
    grid-column: 1;
  }
}

.about-panel .about-content .about-download {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.about-panel .about-content .about-download .btn-content {
  margin: 0.5em 0;
}

.about-panel .about-content .about-download .btn-content * {
  margin: 0 0.25em;
}

.work-panel {
  background-image: url(../images/webb.png);
}

@media (min-width: 90em) {
  .work-panel {
    height: 100vh;
  }
}

.work-content {
  padding: 2em 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 90em) {
  .work-content {
    padding: 2em 12em;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.work-content .work-title {
  color: #0E6AF4;
}

@media (min-width: 90em) {
  .work-content .work-title {
    font-size: 4.5em;
  }
}

.work-content .project-container {
  margin: 1.5em 0;
  width: 100%;
}

.work-content .project-container .project {
  background-color: #FFFFFF;
  border-radius: 50px;
  -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
          box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5em;
  border: 5px rgba(14, 106, 244, 0.5) solid;
}

@media (min-width: 90em) {
  .work-content .project-container .project {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.work-content .project-container .project * {
  margin: 0.25em 0;
}

.work-content .project-container .project .project-title {
  font-size: 1.5em;
  font-weight: 500;
}

@media (min-width: 90em) {
  .work-content .project-container .project .project-title {
    padding: 1em;
    font-weight: 600;
  }
}

.work-content .project-container .project .project-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 90em) {
  .work-content .project-container .project .project-buttons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 30%;
    padding: 0 1em;
  }
}

.work-content .project-container .project .project-buttons .btn {
  width: 100%;
}

@media (min-width: 90em) {
  .work-content .project-container .project .project-buttons .btn {
    width: 50%;
  }
}

.work-content .project-container .project .project-buttons .btn-content {
  font-weight: 600;
  font-size: 1em;
  padding: 0.5em 2em;
  display: block;
  text-align: center;
}

@media (min-width: 90em) {
  .work-content .project-container .project .project-buttons .btn-content {
    font-size: 2em;
    padding: 0 1em;
  }
}

.footer-panel {
  background-color: #0E6AF4;
}

.footer-panel .footer-content {
  padding: 1em 1em;
  height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

@media (min-width: 90em) {
  .footer-panel .footer-content {
    padding: 1em 12em;
  }
}

.footer-panel .footer-content .footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.footer-panel .footer-content .footer-links .link {
  color: #FFFFFF;
  font-size: 1.5em;
  font-weight: 400;
}

@media (min-width: 90em) {
  .footer-panel .footer-content .footer-links .link {
    font-weight: 600;
  }
}

.footer-panel .footer-content .footer-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

@media (min-width: 90em) {
  .footer-panel .footer-content .footer-socials {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 10%;
  }
}

.footer-panel .footer-content .footer-socials .social-link {
  overflow: hidden;
}

.footer-panel .footer-content .footer-socials .social-link * {
  width: 3em;
  height: 3em;
  fill: white;
}

@media (min-width: 90em) {
  .footer-panel .footer-content .footer-socials .social-link * {
    width: 5em;
    height: 5em;
  }
}
/*# sourceMappingURL=style.css.map */