html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: #3f3e3e;
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 2.5rem;
  font-family: "Lobster",  sans-serif;
}

a {
  color: #3f3e3e;
  text-decoration: none;
  font-size: 2.5rem;
  font-weight: lighter;
}

.home {
  background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, #BEBEBE 100%);
}

.nav-container {
  background: #B9B8B8;
}

.nav-container svg {
  height: 50%;
  width: auto;
  display: none;
}

nav {
  margin: auto;
  height: 10vh;
  padding: 3rem 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
  width: 30%;
}

nav #name {
  font-size: 4rem;
  font-family: "Lobster", cursive;
}

.showcase {
  display: -ms-grid;
  display: grid;
  height: 85vh;
  -ms-grid-columns: 10% 1fr 10%;
      grid-template-columns: 10% 1fr 10%;
}

.showcase .info-card {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  margin: auto;
  text-align: center;
  width: 30%;
}

.showcase .info-card img {
  width: 305px;
  max-width: 100%;
}

.showcase .info-card .info-text {
  padding: 1rem 0rem;
}

.showcase .info-card h2 {
  font-size: 4rem;
}

.showcase .info-card h3 {
  font-size: 2.5rem;
}

.showcase .info-card .button-container {
  padding: 1rem 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.showcase .info-card .social {
  font-size: 2rem;
  width: 47.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  padding: .5rem .5rem;
  border-radius: 10px;
  background-color: #707070;
  border: none;
  color: #dedede;
  text-decoration: none;
  cursor: pointer;
}

.showcase .info-card .social svg {
  fill: #dedede;
}

.footer {
  background: #B9B8B8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer footer {
  width: 80%;
  margin: auto;
  min-height: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer footer img {
  width: 35px;
}

.footer footer p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
}

.footer footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: .5;
      -ms-flex: .5;
          flex: .5;
  list-style: none;
}

@media screen and (max-width: 1200px) {
  html {
    font-size: 45%;
  }
  body {
    overflow-x: hidden;
  }
  .showcase .button-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .showcase .button-container .social {
    width: 100%;
    margin: 1rem 0rem;
  }
  .nav-container ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #f1f1f1;
    height: 85vh;
    width: 100%;
    position: absolute;
    top: 10vh;
    left: -100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: all .5s ease-out;
    transition: all .5s ease-out;
  }
  .nav-container .nav.open {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  .nav-container svg {
    display: inline-block;
  }
}
/*# sourceMappingURL=style.css.map */